/* GENERALE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Martel Sans', sans-serif;
  background: #111;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 0 10% 10px 10%;
}

main {
  padding: 0 10%;
}

h2 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

/* HEADER */
.search-nav {
  display: flex;
  align-items: center;
}
header input {
  background-color: #111;
  border: 2px #fff solid;
  padding: 5px;
  color: #aaa;
  border-right: none;
  font-size: 1.2rem;
}
header button {
  padding: 6px ;
  background-color: #111;
  color: #aaa;
  border: 2px #fff solid;
  border-left: none;
  cursor: pointer;
  margin-left: -2px;

}
.fa-search {
  font-size: 1.2rem;
}

/* MAIN */
#movies-list, #series-list {
  display: flex;
  overflow-x: auto;
  background-color: #111;
}


.fa-star {
  color: #f9c74f;
}
.lang-container {
  display: flex;
  align-items: center;
}
.flag {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 5px;
}

.movie, .serie {

  min-width: 340px;
  height: 500px;
  background-color: grey;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  position: relative;
}

.credits {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s;
}

.movie:hover .credits, .serie:hover .credits {
  opacity: 1;
}
.credits .overview {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
